address span{
    display: block;
}
.f_left{
	float: left;
}
.f_right{
	float: right;
}
.total label{
	 display: block;
	 float: right;
}
.total{
	border: dotted 0.7px #000;
}
.outter-wp{
	
    overflow: scroll;

}